*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body
{
  min-height: 100vh;
  width: 100%;
  font-family:Helvetica;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  background: linear-gradient(
280deg,
#14001f 0%,
#3b0a45 35%,
#7a0d3d 70%,
#120018 100%
);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
nav
{
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 100px;
  padding: 30px;
  
}
nav h5
{
  font-size:16px;
  font-weight: 400;
}

.part-1 img
{
  width: 130px;
}
.part-2
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.part-2 h5:nth-child(2){
  padding: 2px;
  text-decoration: underline;
  text-decoration-color:rgb(189, 13, 98);
    text-underline-offset: 6px;

}
.part-3 i
{
  font-size: 30px;
}
.hero
{
  display: flex;
  padding: 50px;
}
.section
{
  z-index: 1;
  position: relative;
}
section .hero-1
{
  height: 450px;
  width: 50%;
  /* background-color: lightblue; */
}
section .hero-2
{
  height: 450px;
  width: 50%;
  /* background-color: lightgreen; */
}
.hero-1
{
  display: flex;
  flex-direction: column;
  gap:40px;
  padding: 10px;
}
.hero-1 p
{
  font-size: 13px;
}
.hero-1 img
{
  width: 400px;
  
}
.buttons
{
  display: flex;
  gap: 5px;
}
.btn-1
{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 35px;
  border-radius: 10px;
  border:none;
  background: linear-gradient(to right, #b21c4d, #d1463a, #e67e22);
  color: #fff;
}
.btn-2
{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 35px;
  border-radius: 10px;
  border: 2px solid rgb(189, 13, 98);
  color: #fff;
  background-color: transparent;

}

.hero-2
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero-2 img
{
  width: 500px;
}
.line
{
  height:1px;
  width: 36px;
  background-color:rgb(189, 13, 98);
}
.extra-part-1
{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  transform: rotate(270deg);
  left:90px;
}
.extra-part-1 p
{
  font-size: 14px;
}
.extra-part-2
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
svg
{
  width:20px;
  fill: rgb(189, 13, 98);
}
.layer-2 h1
{
  z-index: 2;
  font-size: 150px;
  position: relative;
}
.layer-2 .squid
{
  position: absolute;
  transform: rotate(270deg);
  top: 40%;
  right:-15%;
  opacity: 0.2;
}
.layer-2 .game
{
  position: absolute;
  top: 65%;
  left:28%;
  opacity: 0.2;
}
.cards
{
  width:100%;
  height: calc(100vh-100px-450px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
 z-index: 3;
}
.card
{
  padding: 20px;
    background: linear-gradient(
    135deg,
    rgba(88, 0, 70, 0.9),
    rgba(45, 0, 40, 0.9)
  );

  backdrop-filter: blur(10px);
  /* background-color: lightblue; */
   border-radius: 15px;
  position: absolute;
}
.card img
{
  width: 300px;
  height: 200px;
}
.card i
{
  position: absolute;
  right:2%;
  bottom: 15%;
}
.buttons i
{
  font-size:20px;
}
